.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.mred {
  border: 1px solid red;
}

.mgreen {
  border: 1px solid green;
}

.cursor {
  cursor: pointer;
}

a {
  text-decoration: none !important;
}
