.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.mred {
  border: 1px solid red;
}

.mgreen {
  border: 1px solid green;
}

.cursor {
  cursor: pointer;
}

a {
  text-decoration: none !important;
}

.social-icon {
  max-height: 30px;
}

.social-icon1 {
  max-height: 40px;
}

// .router-fade-enter,
// .router-fade-leave {
//   opacity: 0;
// }

.router-fade-enter {
  opacity: 0;
  transform: translate(2em, 0);
}

.router-fade-leave-active {
  opacity: 0;
  transform: translate(-2em, 0);
}

.router-fade-enter-active,
.router-fade-leave-active {
  transition-duration: 0.5s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}